{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
</style>
<title>
{% block title %}
    Welcome to the porta test!
{% endblock %}
</title>
{% block body %}
    <h1>This really is a porta test! 11/2020</h1>

    <p>If you want to receive our newsletter, please sign up below!</p>

    {% for label, flashes in app.session.flashbag.all %}

        {% for flash in flashes %}
            <div class="alert">
                {{ flash }}
            </div>
        {% endfor %}

    {% endfor %}

    {{ form(form) }}

    {{ form_errors(form) }}
    <div>
        <button type="button" onclick="location.href='/admin';">Take me to the admin page</button>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}

